* {
    padding: 0;
    margin: 0; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    transition: 0.5s;
}

body {
    width: 100%;
}

header {
    width: 100%;
    padding: 20px 35px;
    display:flex;
    justify-content: flex-start;
    align-items:flex-start;
    background-color: #02075d;
}

header h1 {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    color: #000;
    margin: 0px;
    width: 30%;
    background-color: #fce138;
}
  
header h1 a {
    text-decoration: none;
    color: #02075d;
}

header h1 a:hover{
    cursor: pointer;
    color: #02075d;
}

header nav {
   width: 90%;
   display: flex; 
   justify-content: flex-end;
   padding: 10px;
   margin: 0px 0;
}

header nav ul li {
    margin: 0px 10px;
    display: inline;
    padding: 5px;
    font-weight: lighter;
    border-bottom: 4px solid #fce138;
    font-size: 20px;
}

header nav ul li a {
   text-decoration: none;
   color: #fce138;
}

header nav ul li a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #fce138;
}

.hero {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: url("../images/blueYellow.jpg");     
    object-fit:cover;
}

.hero p {
    width:auto;
    font-size: 30px;
    font-weight: bold;
    color: #02075d;
    padding:10px;
    background-color: #fce138;
    border-radius: 0px;
}

section {
    width: 100%;
    display: flex;
    background-color: #fce138;
    padding: 50px;
}

section .main_work {
   /* width: 30%; */
   padding-left: 265px;
   
}

.container{
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    row-gap: 20px;
}


.box1 img {
    width: 400px;
    margin-left: 100px;
    margin-top: 20px;
    border: 1px solid #02075d;
    border-color: #fce138;
}
    

.box2 img{
    width: 400px;
    margin-left: 100px;
    margin-top: 20px;
    border: 5px solid #02075d;
    border-color: #fce138;
}
    
.box3 img{
    width: 400px;
    margin-left: 100px;
    margin-top: 20px;
    border: 1px solid #02075d;
    border-color: #fce138;
}
    
.box4 img{
    width: 340px;
    margin-left: 100px;
    margin-top: 20px;
    border: 1px solid #02075d;
    border-color: #fce138;
}

section .main_contactMe {
    width: 25%;
    display: flex;
}

section .first_div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

section .second_div {
    width: 100%;
    display: flex;
}

section h2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
    color: #02075d;
    font-size: 36px;
    padding-right: 10px;
    border-right: 4px solid #02075d;
}

section p{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* width: 100%; */
    width: 60%;
    font-size: 20px;
    color: #02075d;
    margin-left: 50px;
}

footer {
    background: #fce138;
    color: #02075d;
    width: 100%;
    padding: 0px 0px;
}

footer h3{
    color: #02075d;
    font-size: 20px;
}


